# Optional #
# Etherscan key, for automatize the verification of the contracts at Etherscan
ETHERSCAN_API=

# Coinmarketcap API Key, for getting the gas price
COINMARKETCAP_API=

# Option to enable gas reporter [true | false] (case insensitive)
REPORT_GAS=